StudentClient/xml-resources/web-service-references/StudentWebService/wsdl/localhost_8080/StudentWebSOAP/StudentWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="StudentWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/StudentWebSOAP/StudentWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="Update">
<part name="parameters" element="tns:Update"/>
</message>
<message name="UpdateResponse">
<part name="parameters" element="tns:UpdateResponse"/>
</message>
<message name="Delete">
<part name="parameters" element="tns:Delete"/>
</message>
<message name="DeleteResponse">
<part name="parameters" element="tns:DeleteResponse"/>
</message>
<message name="Insert">
<part name="parameters" element="tns:Insert"/>
</message>
<message name="InsertResponse">
<part name="parameters" element="tns:InsertResponse"/>
</message>
<portType name="StudentWebService">
<operation name="Update">
<input wsam:Action="http://service/StudentWebService/UpdateRequest" message="tns:Update"/>
<output wsam:Action="http://service/StudentWebService/UpdateResponse" message="tns:UpdateResponse"/>
</operation>
<operation name="Delete">
<input wsam:Action="http://service/StudentWebService/DeleteRequest" message="tns:Delete"/>
<output wsam:Action="http://service/StudentWebService/DeleteResponse" message="tns:DeleteResponse"/>
</operation>
<operation name="Insert">
<input wsam:Action="http://service/StudentWebService/InsertRequest" message="tns:Insert"/>
<output wsam:Action="http://service/StudentWebService/InsertResponse" message="tns:InsertResponse"/>
</operation>
</portType>
<binding name="StudentWebServicePortBinding" type="tns:StudentWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Insert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentWebService">
<port name="StudentWebServicePort" binding="tns:StudentWebServicePortBinding">
<soap:address location="http://localhost:8080/StudentWebSOAP/StudentWebService"/>
</port>
</service>
</definitions>