StudentClient/xml-resources/web-service-references/StudentWebService/wsdl/localhost_8080/StudentWebSOAP/StudentWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="Delete" type="tns:Delete"/>

<xs:element name="DeleteResponse" type="tns:DeleteResponse"/>

<xs:element name="Insert" type="tns:Insert"/>

<xs:element name="InsertResponse" type="tns:InsertResponse"/>

<xs:element name="Update" type="tns:Update"/>

<xs:element name="UpdateResponse" type="tns:UpdateResponse"/>

<xs:complexType name="Update">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="gpa" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Insert">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="gpa" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Delete">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>